li{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
span{
    border-radius: 5%;
    margin-bottom: 5px;
}
span.badge{
    color: white;
    background-color: darkcyan;
    
}
span.badgeName{
    color: black;
    background-color: wheat;
}
.selected {
    color: red  !important;
    background-color: #CFD8DC !important;
  }