li{
    margin: 0 0 1em 0;
    list-style-type: none;
    padding: 0;
}
span{
    border-radius: 5%;
    /* margin-bottom: 5px; */
    padding: 1em;
    width: 15em;
}
span.badge{
    color: white;
    background-color: darkcyan;
    
}

.selected {
    color: red  !important;
    background-color: #CFD8DC !important;
  }
.logo{
    height: 2.5em;
    /* margin-bottom: 4%; */
}
.hero{
    height: 360px;
}
.heroBox{
    margin-bottom:1em; 
}